.wrapper {
  width: 70%;
  max-height: 80vh;
  overflow-y: scroll;
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    max-height: 85vh;
    margin-bottom: 10vh;
    overflow-y: scroll;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
  }
}
